@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
.card{
    width: 200px;
    height: 500px;
    position: relative;
    background-color: #FFCBCB;
    
}
.cardBody{
    width: 200px;
    min-height: 200px;
    text-align: center;
    font-family: 'Antic Slab', serif;
}
.cardBody img{
    width: 200px;
    height: 200px;
    background-position: cover;
}
button{
    display: block;  
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
    padding: 5px 10px;
    background-color: #D9D7F1;
    border: none;
    font-family: 'Antic Slab', serif;
}
button:hover{
    background-color: black;
    color: white;
}